<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.assetpilot.briefing</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/kimseonghyun/AssetPilot/scripts/launchd/run_briefing.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/kimseonghyun/AssetPilot</string>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>16</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>7</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/kimseonghyun/AssetPilot/data/briefing.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/kimseonghyun/AssetPilot/data/briefing.error.log</string>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
